
script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
script(src='js/frontend.js')
link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css")
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js")

link(rel='stylesheet' href="css/app.css")
link(rel='stylesheet' href="css/app.css.map")

br
center
  h1 Torch Light
  h4 Tor Network Status & API
  br
  h3 Current # of Onion Routing Sockets:
  h3#node-count #{connections.length}
  br
  h4 The current consensus method is #{consensus.consensusMethod}
  h4 The network consensus began at #{consensus.validAfterDate.format("dddd, MMMM Do YYYY, h:mm:ss a")} GMT.
  h4 The network consensus is fresh until #{consensus.freshUntilDate.format("dddd, MMMM Do YYYY, h:mm:ss a")} GMT.
  h4 The network consensus is valid until #{consensus.validUntilDate.format("dddd, MMMM Do YYYY, h:mm:ss a")} GMT.
  p Page render time was #{time.utc().format("dddd, MMMM Do YYYY, h:mm:ss a")} GMT.
  br
  p The server version list is #{consensus.serverVersionList}
  p The known routers flags are #{consensus.flagsString()}.
  br
  p There are #{consensus.authorities.length} authorities currently in the network consensus.
  br
  p
    table.table-striped.table-bordered.tlbigtable
        tr
            th #
            th router nickname
            th contact info
            th address
            th IP
            th directory port
            th onion routing port
        each authority, index in consensus.authorities
            tr
                td= index + 1
                td= authority.nickname
                td= authority.contactLine
                td= authority.address
                td= authority.IP
                td= authority.dirPort
                td= authority.orPort
            
  br
  p There are #{consensus.routers.length} routers currently in the network consensus.
  br
  p
    table.table-striped.table-bordered.tlbigtable
        tr
            th #
            th.nameColumn Name
            th Location
            th IP
        each router, index in consensus.routers
            tr
                td.indexHeader= index + 1
                td.nameColumn= router.name
                td= router.geoString
                //- if router.geo.city
                //-     td= router.geoString
                //- else
                //-     td= router.geo.country
                td= router.IP
  
  h4
    a(href="/raw") JSON
    br
    br
    a(href="http://github.com/sheldonth/torchlight") Source
    
    
